footer{
  margin-top:5%;
}

.sales-headder{
    margin: 8%;
    padding: 10%;
}

.lineupimg {
  border-radius: 50%;
  width: 18%;
}

.finger{
  width: 40%;
}

.effegy{
  opacity: 0.6;
  text-shadow: 2px 2px #000000;
}

.effegy-font{
    font-size: 400%;
}

.indexer{
 padding-top: 3%;
}

.feature{
  padding-top: 4%;
  padding-bottom: 8%;
}

.cart{
  text-align: center;
}

.shop{
  margin: 4%;
  padding: 2%;
  text-align: center;
  align-content: center;
}

#exeffegy{
    padding-top: 10%;
    padding-bottom: 15%;
    background-image: url("img/fire.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

#blackmark{
  padding-top: 15%;
  padding-bottom: 15%;
}

#aboutpp{
  width: 80%;
  border-radius: 50%;
  align-self: center;
  padding: 2%;
  margin: 2%;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
